body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "Arial";
  color: black;
  font-size: 14px;
}

.main {
  width: 700px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.ball {
  background-image: url(Magic_eight_ball.png);
  width: 80%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
p {
  word-wrap: break-word; /* Перенос слов */
}
.buttons {
  margin: 20px;
  align-items: center;
}
h1 {
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff,
    0 0 11px rgb(248, 248, 248), 0 0 20px rgb(83, 129, 245),
    0 0 30px rgb(83, 129, 245), 0 0 55px rgb(83, 129, 245),
    0 0 80px rgb(83, 129, 245);
}
button {
  width: 100px;
  height: 50px;
  background-color: rgb(94, 45, 141);
  color: aliceblue;
  border-color: rgb(94, 45, 141);
  margin: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: black;
  border-color: rgb(37, 15, 58);
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #0fa,
    0 0 20px #0fa, 0 0 30px #0fa, 0 0 55px #0fa, 0 0 80px #0fa;
}

.answerBox {
  color: #fff;
  margin: 85px 0px 0px 85px;
  font-size: 20px;
  width: 140px;
  height: 140px;
  border-radius: 80%;
  padding: 24px;
  text-align: center;
}

.answer {
  margin: 0;
  padding-top: 35%;
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #0fa,
    0 0 20px #0fa, 0 0 30px #0fa, 0 0 55px #0fa, 0 0 80px #0fa;
}
.blue {
  color: rgb(50, 40, 242);
}

.orange {
  color: rgb(142, 88, 8);
}
.red {
  color: rgb(186, 72, 72);
}
.green {
  color: rgb(4, 63, 44);
}


